params {
    outdir = "/home/biouser/learning/variant_calling/example_workflow/results"
    ref = "/mnt/data/chandini/REFERENCES/GENOME/HUMAN/GRCh38/GCF_000001405.40_GRCh38.p14_genomic.fna"
    known_sites = "/mnt/data/chandini/REFERENCES/DBSNP/HUMAN/Homo_sapiens_assembly38.dbsnp138.vcf.1"
    data = "/home/biouser/learning/variant_calling/example_workflow/data"
    threads = 8
}

profiles {
    conda {
        conda.enabled = true
    }
}

