params {
    outdir = "/home/biouser/learning/variant_calling/example_workflow/test_1/results"
    ref = "/mnt/data/chandini/REFERENCES/HOMO_SAPIENS_ASSEMBLY_38/Homo_sapiens_assembly38.fasta"
    known_sites = "/mnt/data/chandini/REFERENCES/DBSNP/HUMAN/Homo_sapiens_assembly38.dbsnp138.vcf.gz"
    data = "/home/biouser/learning/variant_calling/example_workflow/test_1/data"
    variant_call = "/home/biouser/learning/variant_calling/example_workflow/test_1/results/variant_call"
    gNOMAD = "/mnt/data/chandini/REFERENCES/GNOMAD/af-only-gnomad.hg38.vcf.gz"
    PON = "/mnt/data/chandini/REFERENCES/PANEL_OF_NORMAL/1000g_pon.hg38.vcf.gz"
    threads = 8
}

profiles {
    conda {
        conda.enabled = true
    }
}

